* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  overflow-x: hidden !important;
}

@media screen and (max-width: 500px) {
  .slogan-container {
    height: 400px;
    width: 327px;
    margin: 0 auto;
    background-image: url("../images/coffee-mug-dark.png");
    background-position: 690px;
    background-size: cover;
    border-radius: 15px;
  }
  .overlay {
    position: absolute;
    height: 500px;
    width: 327px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  .slogan-contents {
    position: relative;
    top: 100px;
    left: 24px;
    width: 279px;
    height: 301px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    text-align: center;
    color: #fefcf7;
  }
  .slogan-contents > h1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #fefcf7;
    margin-bottom: 24px;
  }
  .slogan-contents > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .commitment-container {
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    width: 327px;
    text-align: center;
  }
  .commitment-container > img {
    height: 400px;
    width: 327px;
    border-radius: 15px;
  }
  .commitment-container > div > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #333d4b;
    margin-top: 48px;
  }
  .commitment-container > div > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 30px;
    margin-bottom: 73px;
  }
  .quality-container {
    width: 327px;
    height: 509px;
    margin: 0 auto;
    background-color: #2c343e;
    border-radius: 15px;
    text-align: center;
  }
  .quality-container > div {
    position: relative;
    margin: 0 auto;
    background-image: url(../images//coffee-mug.png);
    background-size: cover;
    height: 156px;
    width: 279px;
    background-position: bottom;
    border-radius: 7px;
    top: -80px;
  }
  .quality-container > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    color: #fefcf7;
    position: relative;
    top: -19px;
  }
  .quality-container > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.7;
    width: 270px;
    margin: 24px auto;
  }
  .headquarters-container {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 327px;
    margin: 120px auto;
    text-align: center;
  }
  .headquarters-container > h5 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  .country-container {
    display: flex;
    flex-direction: column;
    height: 252px;
  }
  .country-container > img {
    margin: 0 auto;
    margin-bottom: 47px;
  }
  .country-container > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 22px;
  }
  .country-container > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333d4b;
    line-height: 27px;
  }
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -7px;
    height: 346px;
    width: 327px;
    margin: 0 auto 65px;
    background-color: #2c343e;
  }
  .nav-items {
    top: 2% !important;
    height: 13% !important;
  }
}

@media screen and ((min-width: 501px) and (max-width: 1024px)) {
  .slogan-container {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    background-image: url("../images/coffee-mug-dark.png");
    background-position: -170px;
    background-size: cover;
    border-radius: 15px;
  }
  .overlay {
    position: absolute;
    height: 500px;
    width: 327px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  .slogan-contents {
    position: relative;
    top: 100px;
    left: 24px;
    width: 398px;
    height: 164px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    text-align: left;
    color: #fefcf7;
  }
  .slogan-contents > h1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    color: #fefcf7;
    margin-bottom: 24px;
  }
  .slogan-contents > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .commitment-container {
    display: flex;
    margin: 120px auto;
    width: 90%;
    text-align: left;
    gap: 39px;
  }
  .commitment-container > img {
    height: 470px;
    width: 315px;
    border-radius: 15px;
  }
  .commitment-container > div {
    width: 55%;
  }
  .commitment-container > div > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 48px;
    color: #333d4b;
  }
  .commitment-container > div > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 30px;
    margin-bottom: 73px;
  }
  .quality-container {
    width: 90%;
    height: 488px;
    margin: 0 auto;
    background-color: #2c343e;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 100px;
  }
  .quality-container > div {
    position: relative;
    margin: 0 auto;
    background-image: url(../images//coffee-mug.png);
    background-position: center;
    background-size: cover;
    height: 60%;
    width: 80%;
    background-position: bottom;
    border-radius: 7px;
    top: -130px;
  }
  .quality-container > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    color: #fefcf7;
    position: relative;
    top: -80px;
  }
  .quality-container > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.7;
    width: 75%;
    margin: 24px auto;
    position: relative;
    top: -70px;
  }
  .headquarters-container {
    display: flex;
    gap: 56px;
    width: 90%;
    margin: 120px auto;
    text-align: center;
    position: relative;
    top: 228px;
  }
  .headquarters-container > h5 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
    position: absolute;
    margin-top: -111px;
  }
  .country-container {
    display: flex;
    flex-direction: column;
    height: 252px;
    align-items: flex-start;
  }
  .country-container > img {
    margin-bottom: 47px;
  }
  .country-container > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 22px;
  }
  .country-container > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333d4b;
    line-height: 27px;
  }
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 251px;
    height: 270px;
    width: 90%;
    margin: 0 auto 281px;
    background-color: #2c343e;
  }
  .nav-items {
    top: 2% !important;
    height: 13% !important;
  }
}
