* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  overflow-x: hidden !important;
}

@media screen and (max-width: 500px) {
  .slogan-container {
    height: 400px;
    width: 327px;
    margin: 0 auto;
    background-image: url("../images/subscribeimg.png");
    background-position: 690px;
    background-size: cover;
    border-radius: 15px;
  }
  .overlay {
    position: absolute;
    height: 400px;
    width: 327px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  .slogan-contents {
    position: relative;
    top: 100px;
    left: 24px;
    width: 279px;
    height: 301px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    text-align: center;
    color: #fefcf7;
  }
  .slogan-contents > h1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fefcf7;
    margin-bottom: 24px;
  }
  .slogan-contents > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

  .plan-container {
    height: 1028px;
    width: 100%;
    text-align: center;
    background-color: #2c343e;
    border-radius: 15px;
    margin-top: 120px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  .step-container {
    width: 327px;
    margin: 0 auto;
  }
  .step-container > h2 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
    margin-bottom: 24px;
  }
  .step-container > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .step-container > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.7;
  }
  .step-container:last-child > p {
    padding: 5px;
  }
  .form-container {
    height: 3084px;
    width: 328px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 96px;
    margin-top: 120px;
  }
  .question-container {
    display: flex;
    justify-content: space-between;
  }
  .question-div > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #83888f;
    width: 240px;
    margin-bottom: 32px;
  }
  /* TODO arrow div */
  /*  */
  .answer-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .selection-div {
    width: 328px;
    height: 140px;
    border-radius: 10px;
    background-color: #f4f1eb;
    cursor: pointer;
  }
  .hidebox {
    display: none;
  }
  input[type="radio"]:checked + .selection-div {
    background-color: #0e8784;
  }
  input[type="radio"]:checked + .selection-div > h4 {
    color: white;
  }
  input[type="radio"]:checked + .selection-div > p {
    color: white;
    opacity: 0.8;
  }
  .selection-div > h4 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin: 24px 25px 8px;
  }
  .selection-div > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    margin-left: 24px;
    width: 278px;
  }
  .order-summary {
    width: 328px;
    height: 338px;
    margin: 120px auto 56px;
    background-color: #2c343e;
    border-radius: 10px;
  }
  .order-summary > h5 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 32px 25px 8px;
  }
  .order-span {
    color: #0e8784;
  }
  .order-summary > p {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    margin-left: 25px;
    width: 279px;
  }
  #create-btn {
    margin: 0 auto 120px !important;
    position: relative;
    display: block;
  }
  .modal-container {
    position: fixed;
    top: 4%;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
  }
  .modal {
    width: 327px;
    height: 657px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .backdrop {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    align-items: center;
    position: fixed;
    opacity: 0.7;
    position: fixed;
    top: 0;
    visibility: hidden;
  }
  .modal > h3 {
    width: 100%;
    height: 88px;
    background-color: #333d4b;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
    padding: 28px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .modal > h4 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #83888f;
    height: 240px;
    margin: 40px 24px 0;
  }
  .modal > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 279px;
    margin: 0 auto;
  }
  #checkout-btn {
    width: 279px !important;
    margin: 24px auto 12px;
  }
  #edit-btn {
    margin: 12px;
  }
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -7px;
    height: 346px;
    width: 327px;
    margin: 0 auto 65px;
    background-color: #2c343e;
  }
  .nav-items {
    top: 1% !important;
    height: 13% !important;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .slogan-container {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    background-image: url("../images/subscribeimg.png");
    background-size: cover;
    border-radius: 15px;
  }
  .overlay {
    position: absolute;
    height: 400px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  .slogan-contents {
    position: relative;
    top: 100px;
    left: 24px;
    width: 50%;
    height: 301px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    text-align: center;
    color: #fefcf7;
    margin-left: 36px;
  }
  .slogan-contents > h1 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    color: #fefcf7;
    margin-bottom: 24px;
  }
  .slogan-contents > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .plan-container {
    height: 640px;
    width: 100%;
    text-align: center;
    background-color: #2c343e;
    border-radius: 15px;
    margin-top: 120px;
    padding-top: 56px;
    padding-left: 46px;
    display: flex;
    gap: 26px;
  }
  .circle-line-container {
    display: flex;
    width: 75%;
    height: 31px;
    align-items: center;
    position: absolute;
    margin-top: 30px;
  }
  .circle {
    height: 31px;
    width: 31px;
    border: 2px solid #0e8784;
    border-radius: 100%;
  }
  .line {
    border: 2px solid #fdd6ba;
    width: 38%;
  }
  .step-container {
    width: 40%;
    position: relative;
    top: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .step-container > h2 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
    margin-bottom: 24px;
  }
  .step-container > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .step-container > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.7;
  }
  .step-container:last-child > p {
    padding: 5px;
  }
  .form-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 96px;
    margin-top: 120px;
  }
  .question-container {
    display: flex;
    justify-content: space-between;
  }
  .question-div > h3 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #83888f;
    margin-bottom: 32px;
  }
  /* TODO arrow div */
  /*  */
  .answer-div {
    display: flex;
    gap: 10px;
  }
  .selection-div {
    min-width: 150px;
    height: 250px;
    border-radius: 10px;
    background-color: #f4f1eb;
    cursor: pointer;
    margin: 0 auto;
  }
  .hidebox {
    display: none;
  }
  input[type="radio"]:checked + .selection-div {
    background-color: #0e8784;
  }
  input[type="radio"]:checked + .selection-div > h4 {
    color: white;
  }
  input[type="radio"]:checked + .selection-div > p {
    color: white;
    opacity: 0.8;
  }
  .selection-div > h4 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    color: #333d4b;
    margin: 24px 25px 8px;
  }
  .selection-div > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    margin-left: 24px;
  }
  .order-summary {
    width: 90%;
    height: 208px;
    margin: 120px auto 56px;
    background-color: #2c343e;
    border-radius: 10px;
  }
  .order-summary > h5 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 32px 25px 8px;
  }
  .order-span {
    color: #0e8784;
  }
  .order-summary > p {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    margin-left: 25px;
  }
  #create-btn {
    margin: 0 auto 120px !important;
    position: relative;
    display: block;
  }
  .modal-container {
    position: fixed;
    top: 8%;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
  }
  .modal {
    width: 75%;
    height: 597px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .backdrop {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    align-items: center;
    position: fixed;
    opacity: 0.7;
    position: fixed;
    top: 0;
    visibility: hidden;
  }
  .modal > h3 {
    width: 100%;
    height: 88px;
    background-color: #333d4b;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
    padding: 28px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .modal > h4 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #83888f;
    height: 160px;
    width: 80%;
    margin: 57px auto 0;
  }
  .modal > p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 80%;
    margin: 0 auto;
  }
  #checkout-btn {
    width: 279px !important;
    margin: 40px auto 12px;
  }
  #edit-btn {
    margin: 20px auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 240px;
    width: 90%;
    margin: 0 auto;
    background-color: #2c343e;
  }
  .nav-items {
    top: 1% !important;
    height: 13% !important;
  }
}
